* {
  box-sizing: border-box;
}
.imageContainer {
  background-color: lightblue;
  width: 700px;
  height: 200px;
  overflow: hidden;
}

.imageRow {
  display: flex;
  gap: 10px;
  height: 100%;
}
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: lightcoral;
  border: 1px solid transparent;
}
.imageSmall {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: aquamarine;
  /* object-fit: contain;
  user-select: none; */
}
